* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white; /* Fondo rosado de la maqueta */
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

#Menu {
    width: 250px;
    min-height: 100vh;          
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    gap: 15px;
}

.imagen{
    width: 60%;
    height: 130px;
}

.aqua{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#Menu h2 {
    color: #2b0db1;
    font-size: 26px;
    margin-bottom: 5px;
    text-align: center;
}

#Menu h3 {
    color: #555;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0.8;
}

.menu1 {
    background: linear-gradient(90deg, #0db16d, #2dc4ff);
    color: white;
    padding: 14px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(13,177,109,0.3);
    text-align: left;
    border: white;
}

.boton-tendencias{
    transition: transform 0.25s ease;
}

.boton-tendencias:hover{
    transform: scale(1.12);
}

.menu {
    display: flex;
    align-items: center;
    background: #f8f9fa;
    border: 2px solid #0db16d;
    color: #050505;
    font-weight: bold;
    padding: 14px;
    margin: 8px 0;
    border-radius: 12px;
    text-align: center;
    font-size: 15px;
}

.menu-user {
    margin-top: auto;
}

#centro {
    flex: 1;
    background: rgba(244, 247, 249, 0.775);
}

.conten{
    display: flex;
    height: 150px;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px rgba(63, 65, 64, 0.3);
    padding: 0 20px;
}

.content2{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.texto1{
    color: #050505;
    margin-top: -70px;


}

.texto2{
    color: #050505;


}

.search{
    display: flex;
    align-items: center;
    width: 300px;
    height: 35px;
    background-color: #55555529;
    border: 1px solid grey;
    border-radius: 15px;
    color: black;
}

.lupa{
    width: 20px;
    height: 20px;
}

#pSearch{
    margin: 0;
}
 /*animacion*/
.search-anim¨{
    transition: transform 0.25s ease;
}

.search-anim:hover{
    transform: scale(1.07);
}
.conten1 {
    margin-left: 20px;
    background: linear-gradient(90deg, #0db16d, #2dc4ff);
    height: 20px;
    padding: 30px;
    border-radius: 18px;
    margin-top: 30px;
    border: 1px white;
    color: white;
}

.conten2 {
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.tarjeta {
    display: flex;
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 17%;
    height: 100px;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}

.conten3{
    margin-left: 20px;
    display: flex;
    gap: 20px;
    margin-top: 70px;
    width: 100%;
}

.a-1{
    background-color: white;
    width: 55%;
    height: 400px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px; 
}

.a-2{
    background-color: white;
    width: 45%;
    height: 400px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px; 
}

.imagen{
    width: 30px;
}

.tendences{
    width: 100%;
}

.tendence{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 97%;
    height: auto;
    box-shadow: 0px 0px 6px -2px;
    border-radius: 17px;
    padding: 20px;
    border-radius: 18px;
    margin-top: -20px;
    border: 1px solid rgba(0, 0, 0, 0.604);
    color:black;
}

.zone{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 2px;
}

.zone1, .zone2, .zone3, .zone4{
    width: 23%;
    height: 120px;
    box-shadow: 0px 0px 6px -2px;
    border-radius: 17px;
    border: 1px solid rgba(0, 0, 0, 0.604);
    color: white;
    text-align: center;
}

.grafics{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.grafic1, .grafic2{
    width: 48.8%;
    height: 190px;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.604);
    color: white;
}

.cotent5{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cont1{
    width: 36%;
    height: 250px;
    box-shadow: 0px 0px 8px -2px;
    border-radius: 15px;
}

.textos{
    text-align: center;
    padding: 2px;
}
.cont2{
    width: 60%;
    height: 180px;
    box-shadow: 0px 0px 8px -2px;
    border-radius: 15px;
    margin-top: 20px;
}

.content{
    padding: 20px;
}

img{
    display: flex;
    width: 150px;
    gap: 6px;
}

.image{
    display: flex;
    width: 50px;
    height: auto;
}

.imagen1{
    width: 2px;
    height: 3px;
    margin-left: -40px;
    margin-top: -0px;
}

.titulo{
    display: flex;
    margin-left: 100px;
    margin-top: 12px;
}

/*:)*/
.zone1, .zone2, .zone3, .zone4,
.grafic1, .grafic2,
.cont1, .cont2 {
    padding: 5px;
    color: black;
    
}

.tendence {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    background: white;
    color: black;
    height: auto;
}

.zone h3 {
    margin-bottom: 5px;
    font-weight: bold;
}

.grafic1 h3, .grafic2 h3,
.cont1 h3, .cont2 h3 {
    margin-bottom: 8px;
    font-size: 18px;
}

.zone p,
.grafic1 p, .grafic2 p,
.cont1 p, .cont2 p {
    margin-top: 4px;
    font-size: 14px;
    color: #333;
    
}

.grafics, .zone, .cotent5 {
    align-items: flex-start;
}

.imgBarra{
     width: 40px;
    height: 40px;
    margin-bottom: 10px;
    display: block;   
}

.t1{
    margin-left: 60px;
    margin-top: -50px;
}

.t2{
    margin-left: 60px;
}

.imgZone{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    display: block;
    margin-left: 230px;
}

.imgCalidadZ{
    display: flex;
    width: 400px;
    height: auto;
    margin-top: 20px;

}

.imgParametro{
    display: flex;
    width: 300px;
    height: auto;
    margin-top: 10px;

}

.imgPh{
    display: block;        
    margin: 10px auto 0;   
    width: 170px;          
    height: auto;
}

.text1{
    text-align: left;
    margin-top: -40px;

}

.cont1 p.blu,
.cont2 p.blu,
.zone p.blu,
.grafic1 p.blu,
.grafic2 p.blu {
    color: #1e6fff;
    margin-left: 20px;
}

    /*revisar antes de lo del repositorioooooooooooo*/
.textos2{
    margin-top: 15px;
    margin-left: 20px;
}


